{% extends "base.html" %}

{% block content %}
    <h1>Inventory</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Dining</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory_data %}
            <tr>
                <td>{{ item.item_ID }}</td>
                <td>{{ item.item_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.dining.name }}</td>
                <td>
                    <a href="{{ url_for('editInventory', item_id=item.item_ID) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('deleteInventory', item_id=item.item_ID) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
